<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <a routerLink=""><img src="assets/images/Logo.png" class="logo" alt="Página inicial"></a>
  <h1 class="tituloPagina">CONOCE GC</h1>

  <div class="lineaHeader">

    <img src="assets/images/tresRayas.png" class="tresRayas" alt="Tres rayas" (click)="toggleLineHeaderOculto()">

    <a routerLink="login" *ngIf="getLogged()">
      <img src="assets/images/icono-usuario.png" class="iconoLogueado" alt='Icono logueado'>
    </a>

    <div class='loginRegister' *ngIf="!getLogged()">
      <a routerLink="login">Login</a>/<a routerLink="register">Register</a>
    </div>

    <div class="lineaHeaderOculto" id="lineHeader">
      <a href="index.html"><img src="assets/images/Logo.png" class="logo2" alt="Página inicial"></a>

      <img src="assets/images/tresRayas.png" class="tresRayas2" alt="Tres rayas" (click)="closeTresRayas()">

      <div class="banderasMovil">
        <p><img src="assets/images/spain-flag.png" class="banderaPrincipal" alt="Español"></p>
        <p><img src="assets/images/britain-flag.png" class="banderaPrincipal" alt="English"></p>
        <p><img src="assets/images/france-flag.svg" class="banderaPrincipal" alt="Français"></p>
        <p><img src="assets/images/germany-flag.png" class="banderaPrincipal" alt="Deutsch"></p>
      </div>

      <a routerLink="login" *ngIf="getLogged()">
        <img src="/assets/images/icono-usuario.png" class="iconoLogueadoMovil" alt='Icono logueado'>
      </a>

      <div class='loginRegisterMovil' *ngIf="!getLogged()">
        <a routerLink="login">Login</a>/<a routerLink="register">Register</a>
      </div>

      <div class="rectanguloSeparacionDropdown"></div>

      <div id="menu">
        <ul>
          <li>
            <a class="textoDropDown">Categorias</a>
            <ul class="submenuCategorias" id="subMenu">
              <div *ngFor="let categoria of categorias">
                <li id="{{categoria.titulo.replace(' ', '')}}" (click)="puestaVariableLocal(categoria.titulo.replace(' ', ''))">
                  <a routerLink="categoria">
                    <p class="fuenteCategorias">{{categoria.titulo}}</p>
                  </a>
                </li>
              </div>
            </ul>
            <img src="assets/images/mas.png" class="simboloMas" alt="Simbolo más" (click)="showSubMenu()" id="mas">
            <img src="assets/images/menos.png" class="simboloMenos" alt="simbolo menos" (click)="hideSubMenu()" id="menos">
            <div class="rectanguloSeparacionDropdown"></div>
          </li>
          <li>
            <a routerLink="agenda" class="textoDropDown">
              Agenda
            </a>
            <div class="rectanguloSeparacionDropdown"></div>
          </li>
          <li>
            <a routerLink="galeria" class="textoDropDown">
              Galeria
            </a>
            <div class="rectanguloSeparacionDropdown"></div>
          </li>
          <li>
            <a routerLink="conoceGC" class="textoDropDown">
              Conoce Gran Canaria
            </a>
            <div class="rectanguloSeparacionDropdown"></div>
          </li>
          <li>
            <a routerLink="aboutUs" class="textoDropDown">
              Sobre Nosotros
            </a>
            <div class="rectanguloSeparacionDropdown"></div>
          </li>
          <li>
            <div ngbDropdown class="d-inline-block botonBanderasDropDown" placement="bottom-right">
              <button type="button" class="btn botonBanderas" id="dropdownBasic1" ngbDropdownToggle>
                <img src="assets/images/spain-flag.png" class="banderaPrincipalActual" alt="Español">
              </button>
              <div aria-labelledby="dropdownBasic1"ngbDropdownMenu class="dropdown-menu">
                <p><img src="assets/images/spain-flag.png" class="banderaPrincipal" alt="Español"></p>
                <p><img src="assets/images/britain-flag.png" class="banderaPrincipal" alt="English"></p>
                <p><img src="assets/images/france-flag.svg" class="banderaPrincipal" alt="Français"></p>
                <p><img src="assets/images/germany-flag.png" class="banderaPrincipal" alt="Deutsch"></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="640 < width && width < 960" ngbDropdown class="d-inline-block botonBanderasDropLeft" placement="left">
        <button type="button" class="btn btn-tablet" id="dropdownBasic" ngbDropdownToggle>
          <img src="assets/images/spain-flag.png" class="banderaPrincipal" alt="Español">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="dropdown-menu">
          <img src="assets/images/germany-flag.png" class="banderaPrincipal" alt="Deutsch">
          <img src="assets/images/france-flag.svg" class="banderaPrincipal" alt="Français">
          <img src="assets/images/britain-flag.png" class="banderaPrincipal" alt="English">
          <img src="assets/images/spain-flag.png" class="banderaPrincipal" alt="Español">
        </div>
      </div>
    </div>
  </div>
  <div class="rectanguloAzul"></div>
</header>

