<footer class="footer">
  <div class="divFooter">
    <div class="datoContacto">
      <span> <img src="./assets/images/correo.png" alt="Correo" class="localizacionImagenCorreo">XXXX@XXX.XXX </span>
    </div>

    <div class="datoContacto">
      <span> <img src="./assets/images/telefono.png" alt="Teléfono" class="localizacionImagenTelefono"> +34XXXXXXXXX </span>
    </div>

    <span class="redesSociales">
          <a title="Instagram" href="https://www.instagram.com/"><img src="./assets/images/instagram.png" class="imagenInstagram" alt="Instagram" /></a>
          <a title="Facebook" href="https://www.facebook.com/"><img src="./assets/images/facebook.png" class="imagenFacebook" alt="Facebook" /></a>
          <a title="YouTube" href="https://www.youtube.com/"><img src="./assets/images/youTube.png" class="imagenYouTube" alt="YouTube" /></a>
      </span>

    <span class="copyright">© Todos los derechos reservados MPS SRH SAYM</span>
  </div>
</footer>
