.wrapper img{
  width:100%;
  object-fit: cover;
}

@media (min-width: 960px) {
  .wrapper img {
    height: 35em;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .wrapper img {
    height: 30rem;
  }
}

@media (max-width: 640px) {
  .wrapper img {
    height: 15em;
  }
}

