.apartadoQuienesSomos{
  width: 100%;
  background-color: #C4C4C4;
  height: auto;

  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.imagenesPersonas{
  display: flex;
  justify-content: center;

  top: 10.38rem;
  gap: 3.25rem;
  margin-bottom:2rem;
}

.conjuntoImagen img{
  border-radius: 50%;
  object-fit: cover;


  width: 15.81rem;
  height: 15.5rem;

}
.conjuntoImagen p{
  text-align: center;
}
.conjuntoImagen{
  width: 16.81rem;
}

