
<!--<div class="posicionamientoImagenFondo">-->
<!--  <img src="{{this.url}}" alt="{{this.name}}" class="imagenFondo">-->
<!--  <div class="centrado">-->
<!--    <p class="nombreActividadImagen">{{this.name}}</p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="separacionBloque">-->
<!--  <p class="descripcionActividad">{{this.description}}</p>-->
<!--</div>-->
<!--<div class="separacionBloque">-->
<!--  <div class="localizacionCabeceraEmpresas">-->
<!--    <h3 class="tituloEmpresas">Empresas</h3>-->
<!--  </div>-->
<!--  <section class="localizacionInformacion"></section>-->
<!--</div>-->

