
<div *ngFor="let categoria of categorias">
  <div *ngFor="let actividad of categoria.actividades">
    <div *ngIf="quitarEspacios(actividad.name) === actividadClicada()">
      <div class="posicionamientoImagenFondo">
        <img src="{{actividad.url}}" alt="{{actividad.name}}" class="imagenFondo">
        <div class="centrado">
          <p class="nombreActividadImagen">{{actividad.name}}</p>
        </div>
      </div>
      <div class="separacionBloque">
        <p class="descripcionActividad">{{actividad.description}}</p>
      </div>
      <div class="separacionBloque">
        <div class="localizacionCabeceraEmpresas">
          <h3 class="tituloEmpresas">Empresas</h3>
        </div>
        <section class="localizacionInformacion">
          <app-activity-page-empresas></app-activity-page-empresas>
        </section>
      </div>
    </div>
  </div>
</div>




