<h2> Galería </h2>
<div class="contenedorGaleria">
  <div class="galeria">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let image of imagenes">
        <a class="lightbox">
          <img src="{{ image.url }}" alt="{{ image.descripcion }}">
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="getLogged() != true">
    <app-upload-gallery-message></app-upload-gallery-message>
  </div>
  <div *ngIf="getLogged() == true">
    <app-upload-gallery></app-upload-gallery>
  </div>
</div>
