<article class="apartadoCategorias" *ngFor="let categoria of categorias | async">
  <h2 class="tituloCategorias">CATEGORÍAS</h2>
  <section class="imagenesCategorias">
    <div class="conjuntoImagenDescripcion">
      <img  src= "{{ categoria.url }}" />
      <!--<a href="CategoryPage.html">-->
        <div class="descripcion">
          <div class="textoDescripcion">
            <div class="tituloCategoria"> {{categoria.titulo}} </div>
            <div class="infoDescripcion">{{categoria.descripcion}}</div>
          </div>
        </div>
      <!--</a>-->
    </div>
  </section>
</article>
