<h2>Conoce Gran Canaria</h2>

<section class="municipios">
  <div class="listaMunicipios">
    <article class="conjuntoMunicipio" id="municipio {{i}}" *ngFor="let municipio of municipios; let i = index">
      <div class="municipio">
        <img src="{{municipio.urlImagen}}" alt="Imagen de {{municipio.municipio}}" class="imagenMunicipio">
        <div class="nombreMunicipio" id="em{{i}}"><span class="colorFondo">{{municipio.municipio}}</span>
          {{cambiarEstadoDropDown(i)}}
          <button (click)="cambiarEstadoDropDown(i)" type="button" class="btn"  id="municipioBtn" data-toggle="dropdown">
            <img src="../../assets/images/FlechaAbajo.png" class="flechaAbajoMunicipio" alt="Información Evento">
          </button>
        </div>
      </div>
      <div class="descripcionMunicipio" id="municipioem{{i}}">
        <div class="paginaMunicipio">
          <img src="{{municipio.imagenDropdown}}" alt="Ubicación en Gran Canaria de {{municipio.municipio}}" class="imagenDropdownMunicipio">
          <p class="textoMunicipio">{{municipio.descripcion}}</p>
        </div>
      </div>
    </article>
  </div>
</section>




