<div *ngIf="getLogged() != true">
  <app-agenda-message></app-agenda-message>
</div>

<div *ngIf="getLogged() == true">
<h2> Agenda </h2>
  <div class=listaEventos style="display: block">
    <article class="evento" *ngFor="let evento of eventos; let i = index">
      <div class="eventoInfo" id="evento{{i}}" >
        <div class="calendarioInfo">
          <div class="calendarioConFecha">
            <img class="imagenCalendario" src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Fcalendario.png?alt=media&token=b156b27c-5d32-4216-8846-fd3c5030737b" alt="imagen calendario">
            <div class="textoCalendario">
              <div class="textoDia">  {{evento.dia}}  </div>
              <div class="textoMes">  {{evento.mes}}  </div>
            </div>
          </div>
          <div class="infoEvento">
            <p class="nombreEvento">  {{evento.nombre}}  </p>
            <p class="textoEvento">  {{evento.fecha}}  </p>
            <p class="textoEvento">  {{evento.lugar}}  </p>
            <p class="textoEvento">  {{evento.municipio}} </p>
          </div>
        </div>
        <button (click)="cambiarEstadoDropDown(i)" type="button" class="btn"  id=evento data-toggle="dropdow">
          <img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2FFlechaAbajo.png?alt=media&token=656b1fce-b080-42a2-b5f3-1bd7b1fd673b" class="flechaAbajoMunicipio" alt="Información Evento">
        </button>
      </div>
      <div class='apartadoDescripcionEvento' id="apartadoevento{{i}}">
        <div class="paginaEvento" [style.background-image]="'url(' + evento.url + ')'" >
          <p class='textoDescripcionEvento'>  {{evento.descripcion}}  </p>
        </div>
      </div>
    </article>
  </div>
</div>
