/*////////// CUADRO REGISTRO //////////*/
.register{
  background-image: url("https://marcacanaria.com/wp-content/uploads/2021/04/vista-aerea-de-la-playa-de-gui-gui.jpeg");
  background-size: 180%;
  background-repeat: no-repeat;
  object-fit: cover;
  height: auto;
  justify-content: center;
  min-height: 100vh;
}
.contenedorFormRegistro{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.conjuntoInputRegistro{
  display: flex;
}

.tituloRegistro{
  width:auto;
  align-self: center;
  margin-left:0;
}

.iconoR{
  position: relative;
}

form{
  text-align: left;
}

form input{
  margin-bottom: 3rem;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  width: 100%;
}

input:valid {
  border-color: black;
}
input:focus {
  outline: none;
  border-color: lightblue;
}

.botonFormRegistro{
  text-align: center;
}

.botonFormRegistro button{
  background-color: #CEE0FC;
  border-radius: 10%;
  border: none;
  width: auto;
  margin-top: 2rem;
}
.accesoRegistro{
  align-self: center;
}
.accesoRegistro a{
  text-decoration: none;
}


/*/////////// MEDIA QUERY ///////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/
@media (min-width: 960px){
  /*////////// CUADRO REGISTRO //////////*/
  .register{
    padding: 20rem;
  }
  .iconoR{
    margin-top: 3rem;
    height: 2.95rem;
    width: 3.18rem;
    bottom: 2.8rem;
    margin-right: 1.5rem;
  }

  .tituloInicioSesion{
    margin-top:2rem;
    margin-left:2rem;
  }

  .conjuntoInputRegistro input{
    font-size: 2rem;
  }

  form{
    margin-right: 5rem;
    margin-left: 5rem;
  }

  form label{
    font-size: 2.2rem;
  }

  .avisoRestriccion{
    font-size: 1.5rem;
  }

  .botonFormRegistro button{
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .accesoRegistro{
    font-size:1.5rem;
    width:22rem;
  }
  .accesoRegistro a:hover{
    color: #5094FF;
  }
}

/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/
@media (min-width: 640px) and (max-width: 960px) {
  /*////////// CUADRO REGISTRO //////////*/
  .register{
    padding: 5rem;
    background-size: 100% 100%;
  }
  .iconoR{
    margin-top: 1.5rem;
    height: 2rem;
    width: 2.3rem;
    bottom: 1.3rem;
    margin-right: 1.3rem;
  }
  .conjuntoInputRegistro input{
    font-size: 1.6rem;
  }
  form{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  form label{
    font-size: 1.8rem;
  }

  .avisoRestriccion{
    font-size: 1.2rem;
  }

  .botonFormRegistro button{
    width:auto;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .accesoRegistro{
    font-size:1.4rem;
    width:auto;
    margin-bottom: 1rem;
  }
  .accesoRegistro a{
    color: #5094FF;
  }
}

/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/
@media (max-width: 640px) {
  /*////////// CUADRO REGISTRO //////////*/
  .register{
    padding: 1rem;
    background-size: 100% 100%;
  }
  .iconoR{
    margin-top: 0.9rem;
    height: 1.2rem;
    width: 1.4rem;
    bottom: 0.4rem;
    margin-right: 0.89rem;
  }
  .conjuntoInputRegistro input{
    font-size: 0.9rem;
  }
  form{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  form label{
    font-size: 1.2rem;
  }

  .avisoRestriccion{
    font-size: 1rem;
  }
  .tituloRegistro{
    font-size: 1.75rem;
  }

  .botonFormRegistro button{
    width:auto;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .accesoRegistro{
    font-size:1rem;
    width:10rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center;
  }
  .accesoRegistro a{
    color: #5094FF;
  }


}
