<div class="categoryWrapper">
  <div *ngFor="let categoria of categorias">
    <div *ngIf="quitarEspacios(categoria.titulo) === categoriaClicada()">
      <h2>{{categoria.titulo}}</h2>
      <p class='descripcionCategorias'>{{categoria.descripcion}}</p>
      <div>
        <a routerLink="/actividad">
          <div class='actividad' *ngFor="let actividad of categoria.actividades;" (click)="puestaVariableActivity(quitarEspacios(actividad.name))" >
            <div class='centrado'>
              <div class='nombreActividadImagen'>{{actividad.name}}</div>
            </div>
            <img class='imagenActividad' src="{{actividad.url}}" alt ="{{actividad.name}}" >
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
